<nav class="navbar">
    <div class="navbar__container">
        <a href="/" class="logo">
            <i class="fa-solid fa-pen-to-square"></i>
            <b>{{.Site.Title}}</b>
        </a>
        <i class="fa-solid fa-bars hide phone-menu"></i>
        <ul>
            <li>
                <a href="/posts/">
                    <i class="fa-solid fa-square-rss"></i>
                    <span>التدوينات</span>
                </a>
            </li>
            <li>
                <a href="/tags/">
                    <i class="fa-solid fa-hashtag"></i>
                    <span>المواضيع</span>
                </a>
            </li>
            <li>
                <a href="/categories/">
                    <i class="fa-solid fa-table-cells-large"></i>
                    <span>الأقسام</span>
                </a>
            </li>
        </ul>
    </div>
</nav>